* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    
      

    }

    

nav {
    background-color: black;
    border-radius: 450px;
    width: 250px;
    height: 290px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

div {
    height: 100vh;

}


img {
    
    height: 230px;
    width: 230px;
    display: block;
    margin: auto;
    text-align: center;
   

}

h1 {
    text-align: center;
    color: #FFF;
    
}

button {
    display: block;
    margin:   20px auto;
    padding: 10px;
    text-align: center;
    width: 225px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: black;
    box-shadow: 10px 10px 10px #000000;
    
    

}

section {
padding-top: 10px;
    background-color: rgba(red,red ,red, 0.5);
    height: 100vh; 
}

a {
    text-decoration: none;
}
 
P {
    text-align: center;
    margin-top: 20px;
}
.wpp {
    width: 20px;
    height: 20px;
    text-align: right;
}

.logo {
    width: 25px;
    height: 25px;

}

.ig-logo {
    width: 30px;
    height: 30px;
    display: block;
    margin: 15px auto;
    
  
}

